:root {
    /* Blue color palette */
    --primary-color: #007BFF;
    --header-color: #57a8ff;
    --secondary-color: #0056b3;
    --background-color: #b6d4ff;
    --text-color: #000277;
    --secondary-text-color: #ddf0ff;
    --border-color: #ccc;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    background-image: url('/static/background.jpg');
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#header {
    background-color: var(--header-color);
    backdrop-filter: blur(50px);
    color: #fff;
    padding: 10px 0;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    height:64px;
    position:sticky;
    top:0;
    z-index:1000;
}

.header-item {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50px;
    padding:15px;
    margin:20px;
    height:32px;
    background: var(--secondary-color);
}

.header-item-username {
    position:absolute;
    right:10px;
    height:48px;
}

.header-item-username img {
    width:32px;
    height:32px;
    border-radius:50%;
    margin:10px;
    margin-right:0;
}

#login {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter:blur(50px);
    width: 400px;
    margin: 100px auto;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}

#background-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    height: 80vh;
    width:80vh;
    border-radius:20px;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 15px;
    background: url('/static/loading.webp') no-repeat center;
    backdrop-filter:blur(10px);
    position: fixed;
    transition: all 0.5s ease;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#overlay {
    position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
	border-radius:inherit;
}

#response {
    color:white;
    font-size:2.5vh;
    position: relative;
    overflow:none;
    padding:20px;
}

.profile {
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius:8px;
}

.username {
    position: absolute;
    left: 104px;
    top: 10px;
    font-size: 24px;
}

.label {
    position: absolute;
    top: 50px;
    left: 104px;
    font-size:15px;
}

.text-box {
    background-color: rgba(0, 170, 255, 0.5);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.unread {
    display: block;
    position: absolute;
    right: -0.5rem;
    top: -1.7rem;
    border-radius:1rem;
    background-color:hsl(38, 100%, 55%);
    padding-top:0.25rem;
    padding-right:0.25rem;
    padding-bottom:0.25rem;
    padding-left:0.25rem;
    text-indent:0;
    line-height:1rem;
    color:#fff;
    font-size:1rem;
    font-weight:bold;
}

.unread-container {
    position:absolute;
    right:25px;
    background-image:url('https://scratch.mit.edu/images/nav-notifications.png');
    background-color:hsl(260,60%,60%);
    border-radius:5px;
    height:46px;
    width:62px;
    background-repeat:no-repeat;
    background-position:center;
}

.about {
    position: relative;
    margin-top: 100px;
}

.alert {
    position:fixed;
    width:500px;
    height:200px;
    background-color:rgba(255, 255, 255, 0.6);
    backdrop-filter:blur(7px);
    transform:translate(-50%, -50%);
    padding:20px;
    top: 40%;
    left: 40%;
    margin:0;
    border-radius:20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index:10000;
}

.alert button {
    position:fixed;
    bottom:10px;
    border-radius:50px;
    /* width:32px; */
    height:32px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.alert div {
    width:100%;
    display:flex;
    height:fit-content;
    background:rgba(0,0,0,0);
    justify-content:center;
    align-items:center;
    padding:0;
}