:root {
    /* Blue color palette */
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --light-blue: #66b2ff;
    --dark-blue: #004085;
    --background-color: #e9f2ff;
    --text-color: #333;
    --border-color: #ccc;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#login {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter:blur(50px);
}

.alert {
    position:fixed;
    width:500px;
    height:200px;
    background-color:rgba(255, 255, 255, 0.6);
    backdrop-filter:blur(15px);
    transform:translate(-50%, -50%);
    padding:20px;
    top: 50%;
    left: 50%;
    border-radius:20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index:10000;
}

.alert button {
    position:fixed;
    bottom:10px;
    border-radius:50px;
    /* width:32px; */
    height:32px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.alert div {
    width:100%;
    display:flex;
    height:fit-content;
    background:rgba(0,0,0,0);
    justify-content:center;
    align-items:center;
    padding:0;
}