<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ScratchUI</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <h1>ScratchUI is running</h1>
        <p>ScratchUI is a modified client for Scratch. It's built from the ground up in Python, powered by Flask and ScratchAttach.</p>
        <div id="login">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password">
            <button onclick="login()">Login</button>
        </div>
    </body>
    <script>
        function login() {
            alert("Login not yet implemented.");    
        }
    </script>
</html>