<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div id="content">
            <h1>ScratchUI</h1>
            <div id="login">
                <h2>Login</h2>
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Username">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
                <button onclick="login()">Login</button>
            </div>
        </div>
    </body>
    <script src="/static/script.js"></script>
    <script>
        async function get_feed() {
            token = getCookie("session");
            if (!token) {
                return;
            }
            const response = await fetch('/api/feed', {
                method: 'GET',
                headers: {
                    'X-Session-Token': token
                }
            });
            const data = await response.json();
            if (!data.success) {
                return;
            }
            console.log(data.feed)
        }
    </script>
</html>