<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="content><div id="background-display"><div id="overlay"><div id="response"></div></div></div></div>
</body>
<script src="/static/script.js"></script>
<script>
    async function updateUserData() {
        const username = "{{ username }}";
        if (getCookie("username")) {
            if (getCookie("username") == username) {
                method = "EDIT";
            } else {
                method = "CONNECT";
            }
        } else {
            method = "GET";
        }
        const response = await fetch(`/api/user/${username}`);
        const data = await response.json();
        if (data.success == true) {
            /*
                username
                id
                join_date
                country
                about
                wiwo
                admin
                new_scratcher
                image,
                messages
            */
            document.getElementById("background-display").style.backgroundImage = `url(${data["image"]})`;
            document.getElementById("response").innerHTML = `
                <br>
                <img class="profile" src="${data["image"]}" width="64px" height="64px"></img>
                <h1 class="username">${data["username"]}</h1>
                <p class="label">${data.new_scratcher} | ${data.country} | Joined on ${data.join_date}</p>
                <div class="unread-container"><p class="unread">${data.messages}</p></div>
                <p class="about">About me: </p><div class="text-box">${data.about}</div>
                <p class="wiwo">What I'm working on: </p><div class="text-box">${data.wiwo}</div>
            `;
        } else {
            document.getElementById("background-display").style.background = "#fff";
            document.getElementById("response").innerHTML = `
                <h1>${data.error}</h1>
            `;
        }
    }

    updateUserData();
</script>
</html>