<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body></body>
<script src="/static/script.js"></script>
<script>
    async function updateUserData() {
        const username = "{{ username }}";
        if (getCookie("username")) {
            if (getCookie("username") == username) {
                method = "EDIT";
            } else {
                method = "CONNECT";
            }
        } else {
            method = "GET";
        }
        const response = await fetch(`/api/user/${username}`);
        const data = await response.json();
        if (data.success == true) {
            document.getElementById("content").innerHTML = `
                <h1>${data["username"]}</h1>
                <p>${data}</p>
            `; // This is just for testing purposes, once we know it works we can actually display it properly
        } else {
            document.getElementById("content").innerHTML = `
                <h1>${data.error}</h1>
            `;
        }
    }

    updateUserData();
</script>
</html>