<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="content"><div id="overlay"><div id="response></div></div></div>
</body>
<script src="/static/script.js"></script>
<script>
    async function updateUserData() {
        const username = "{{ username }}";
        if (getCookie("username")) {
            if (getCookie("username") == username) {
                method = "EDIT";
            } else {
                method = "CONNECT";
            }
        } else {
            method = "GET";
        }
        const response = await fetch(`/api/user/${username}`);
        const data = await response.json();
        if (data.success == true) {
            /*
                username
                id
                join_date
                country
                about
                wiwo
                admin
                image
            */
            document.getElementById("content").style.background = `url(${data["image"]})`;
            document.getElementById("response").innerHTML = `
                <h1>${data["username"]}</h1>
                <p>${data}</p>
            `;
        } else {
            document.getElementById("content").style.background = "#fff";
            document.getElementById("response").innerHTML = `
                <h1>${data.error}</h1>
            `;
        }
    }

    updateUserData();
</script>
</html>